doctype html
html
  head
    title Submissão de Ficheiros
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/myFile.js")
  body
    block content
