extends layout

block conteudo
    .w3-container
        .w3-card-4
            header.w3-container.w3-red
                h1 Registo de Teses
            .w3-container
                ul
                    li
                        a(href="http://localhost:4006/lista") Lista das Teses Registadas
                    li
                        a(href="http://localhost:4006/registo") Registo de Tese
            footer.w3-container.w3-red
                address Gerado por RegTeseApp by José Carlos Lima Martins 
